.links a {
  text-decoration: none;
  color: blue;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.mctitle {
  max-width: 80%;
  height: auto;
  align: center;
}
